{% extends '::base.html.twig' %}
{% block body %}
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ path('home') }}" class="breadcrumb">Home</a>
                <a href="{{ path('customer_index') }}" class="breadcrumb">Liste clients</a>
                <a href="{{ path('customer_index') }}" class="breadcrumb">Liste clients</a>
            </div>
        </div>
    </nav>
    {{ dump(product) }}
{% endblock %}