# Created by .ignore support plugin (hsz.mobi)
### Symfony template
# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid
### SymphonyCMS template
manifest/cache/
manifest/logs/
manifest/tmp/
symphony/
workspace/uploads/
install-log.txt

Supprimerait .gitignore
Supprimerait .idea/
Supprimerait .web-server-pid
Supprimerait var/cache/dev/pools/dzM4SYCf8I/
Supprimerait var/cache/dev/pools/lubBoIk7iW/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/-/J/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/1/1/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/1/Q/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/2/C/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/4/W/uLWtSb3VzHyNaqFEnlV9
Supprimerait var/cache/dev/pools/oo3jRB+w9h/5/G/RiJrG8nOcoPFhe-zYpQH
Supprimerait var/cache/dev/pools/oo3jRB+w9h/6/B/wqL2AtGA7-OK22BScKSt
Supprimerait var/cache/dev/pools/oo3jRB+w9h/8/3/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/9/9/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/9/G/9RLYy0jHk9pmYFiuRpfb
Supprimerait var/cache/dev/pools/oo3jRB+w9h/9/U/U22qKMl2jEp0FPLdngbv
Supprimerait var/cache/dev/pools/oo3jRB+w9h/A/T/CEYWqYz2W6jWWAcqLibD
Supprimerait var/cache/dev/pools/oo3jRB+w9h/B/N/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/B/O/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/C/+/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/D/J/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/E/1/iiDtLX6szj1aEU+oRvhb
Supprimerait var/cache/dev/pools/oo3jRB+w9h/E/5/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/E/X/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/F/L/mT-uUIYQIoIeqgQNBsFz
Supprimerait var/cache/dev/pools/oo3jRB+w9h/F/Y/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/G/D/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/G/R/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/H/3/O64Z6OOPao+oXI1FqdNx
Supprimerait var/cache/dev/pools/oo3jRB+w9h/H/M/BvI9ut0RJ9zPKMbDID48
Supprimerait var/cache/dev/pools/oo3jRB+w9h/H/W/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/H/Y/7+c8eQcBwksHOfr795o7
Supprimerait var/cache/dev/pools/oo3jRB+w9h/I/T/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/J/2/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/J/O/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/J/X/AGZO5VIxit+44jwnYqcy
Supprimerait var/cache/dev/pools/oo3jRB+w9h/K/9/kaVEnHZMnoKTJRdZmwRX
Supprimerait var/cache/dev/pools/oo3jRB+w9h/L/M/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/L/U/Lgb5nIlqwANbR4SMt0PM
Supprimerait var/cache/dev/pools/oo3jRB+w9h/N/B/Tc-0Hs59KhXAJkD4CnCN
Supprimerait var/cache/dev/pools/oo3jRB+w9h/N/P/JUww8nqUeN4CuJtyqxAD
Supprimerait var/cache/dev/pools/oo3jRB+w9h/N/V/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/O/5/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/P/H/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/P/W/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/Q/+/lTV6dZoyYlUXKPfNiWJ8
Supprimerait var/cache/dev/pools/oo3jRB+w9h/R/1/obg+xcmtwoKLQWEuAd3V
Supprimerait var/cache/dev/pools/oo3jRB+w9h/R/J/l1ZeGLI2xcbCgyHj-dTK
Supprimerait var/cache/dev/pools/oo3jRB+w9h/R/N/j+x3F9xqEsjnU6DTdhk7
Supprimerait var/cache/dev/pools/oo3jRB+w9h/S/K/StlDmfXxFxmEmPfvn-Hl
Supprimerait var/cache/dev/pools/oo3jRB+w9h/T/L/ozoO7Mrbq8bOR+-VSanI
Supprimerait var/cache/dev/pools/oo3jRB+w9h/T/S/kxKPoNY0OchZdbZLedFU
Supprimerait var/cache/dev/pools/oo3jRB+w9h/U/+/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/U/D/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/U/M/ecnJ7SayFmbnjJeoNXqJ
Supprimerait var/cache/dev/pools/oo3jRB+w9h/V/A/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/V/P/eo+mPOTnlwYjDaXmoJjO
Supprimerait var/cache/dev/pools/oo3jRB+w9h/V/V/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/V/Y/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/W/J/OOng+NSNczZyPRjVFiUV
Supprimerait var/cache/dev/pools/oo3jRB+w9h/Y/B/4uZZWJ1ry4waPe+64Dz2
Supprimerait var/cache/dev/pools/oo3jRB+w9h/Z/2/
Supprimerait var/cache/dev/pools/oo3jRB+w9h/Z/9/tUvDbZykHDjuG9u1RDjU
Supprimerait var/cache/dev/pools/oo3jRB+w9h/Z/A/ap7eknIRSuqIufCQaQQr
Supprimerait var/cache/dev/pools/oo3jRB+w9h/Z/J/GnJr79v0G8OsuhS78s6D
Supprimerait var/cache/dev/pools/tHJC729sgW/
Supprimerait var/cache/dev/profiler/12/4b/
Supprimerait var/cache/dev/profiler/13/40/
Supprimerait var/cache/dev/profiler/13/81/
Supprimerait var/cache/dev/profiler/18/ae/
Supprimerait var/cache/dev/profiler/1b/2f/
Supprimerait var/cache/dev/profiler/26/48/
Supprimerait var/cache/dev/profiler/2c/fb/
Supprimerait var/cache/dev/profiler/41/a3/
Supprimerait var/cache/dev/profiler/42/7d/
Supprimerait var/cache/dev/profiler/43/a1/
Supprimerait var/cache/dev/profiler/52/df/
Supprimerait var/cache/dev/profiler/59/1b/
Supprimerait var/cache/dev/profiler/76/b9/
Supprimerait var/cache/dev/profiler/89/93/
Supprimerait var/cache/dev/profiler/8b/06/
Supprimerait var/cache/dev/profiler/99/db/
Supprimerait var/cache/dev/profiler/9b/13/
Supprimerait var/cache/dev/profiler/9b/72/
Supprimerait var/cache/dev/profiler/9b/d3/
Supprimerait var/cache/dev/profiler/9e/f8/
Supprimerait var/cache/dev/profiler/9f/ac/
Supprimerait var/cache/dev/profiler/a6/d4/
Supprimerait var/cache/dev/profiler/a7/22/
Supprimerait var/cache/dev/profiler/a7/8c/
Supprimerait var/cache/dev/profiler/a8/fb/
Supprimerait var/cache/dev/profiler/b5/f2/
Supprimerait var/cache/dev/profiler/c8/c9/
Supprimerait var/cache/dev/profiler/d4/d1/
Supprimerait var/cache/dev/profiler/ef/11/
Supprimerait var/cache/dev/profiler/ff/dd/
Supprimerait var/cache/dev/twig/1c/
Supprimerait var/cache/dev/twig/d7/
Supprimerait var/sessions/dev/sess_qpqt62p11f1glpnsdhh4jfcoe3
