<header class="all-header">
    <nav>
        <div class="nav-wrapper">

            <a href="{{ path('home') }}" class="brand-logo"><img class="all-header-img float-l" src="{{ asset('img/logo_cojinnov.png') }}"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if app.user.username is defined  %}
                    <li><a><i class="material-icons left all-header-user-icon">perm_identity</i>{{ app.user.username }}</a></li>
                {% endif %}
                <li><a><i class="material-icons">menu</i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>