/**************master********************/
body {
    margin: 0;
}
div {
    margin: 0;
    padding: 0;
}
nav {
    background-color: #b9b8b8;!important;
}

.float-l {
    float: left;
}
.float-r {
    float: right;
}

/**************header*******************/
.all-header {
    background-color: #b9b8b8;
    width: 100%;
    height: 60px;
}

.all-header-img {
    height: 60px;
    display:inline-block;
}

.all-header-name-page {
    width: 56%;
    height: 60px;
    display:inline-block;
}

.all-header-user {
    width:14%;
    min-width: 143px;
    max-width: 268px;
    height: 60px;
    display:inline-block;
}

.all-header-user a {
    min-width: 143px;
    max-width: 268px;
}

.all-header-user-button {
    height: 58px;!important;
    padding-left: 2px;!important;
    background-color: #7991c1;
}

.all-header-user-button {
    width: 100%;
}


.all-header-user-button i.left {
    margin-right: 0;!important;
}

.all-header-parameter {
    width: 56px;
    height: 60px;
    display: inline-block
}
.all-header-button-parameter {
    height: 58px;!important;
    background-color: #7991c1;
    border-radius: 0px;!important;
}
.btn-floating.btn-large {
    height: 58px;
}